{"swagger":"2.0","info":{"version":"Cable"},"host":"gateway.marvel.com","basePath":"/","schemes":["http"],"paths":{"/v1/public/comics":{"get":{"tags":["docspublic"],"summary":"Fetches lists of comics.","description":"Fetches lists of comics with optional filters. See notes on individual parameters below.","operationId":"getComicsCollection","parameters":[{"name":"format","in":"query","description":"Filter by the issue format (e.g. comic, digital comic, hardcover).","required":false,"type":"string","enum":["comic","magazine","trade paperback","hardcover","digest","graphic novel","digital comic","infinite comic"]},{"name":"formatType","in":"query","description":"Filter by the issue format type (comic or collection).","required":false,"type":"string","enum":["comic","collection"]},{"name":"noVariants","in":"query","description":"Exclude variants (alternate covers, secondary printings, director's cuts, etc.) from the result set.","required":false,"type":"boolean","enum":["true"]},{"name":"dateDescriptor","in":"query","description":"Return comics within a predefined date range.","required":false,"type":"string","enum":["lastWeek","thisWeek","nextWeek","thisMonth"]},{"name":"dateRange","in":"query","description":"Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"title","in":"query","description":"Return only issues in series whose title matches the input.","required":false,"type":"string"},{"name":"titleStartsWith","in":"query","description":"Return only issues in series whose title starts with the input.","required":false,"type":"string"},{"name":"startYear","in":"query","description":"Return only issues in series whose start year matches the input.","required":false,"type":"integer","format":"int32"},{"name":"issueNumber","in":"query","description":"Return only issues in series whose issue number matches the input.","required":false,"type":"integer","format":"int32"},{"name":"diamondCode","in":"query","description":"Filter by diamond code.","required":false,"type":"string"},{"name":"digitalId","in":"query","description":"Filter by digital comic id.","required":false,"type":"integer","format":"int32"},{"name":"upc","in":"query","description":"Filter by UPC.","required":false,"type":"string"},{"name":"isbn","in":"query","description":"Filter by ISBN.","required":false,"type":"string"},{"name":"ean","in":"query","description":"Filter by EAN.","required":false,"type":"string"},{"name":"issn","in":"query","description":"Filter by ISSN.","required":false,"type":"string"},{"name":"hasDigitalIssue","in":"query","description":"Include only results which are available digitally.","required":false,"type":"boolean","enum":["true"]},{"name":"modifiedSince","in":"query","description":"Return only comics which have been modified since the specified date.","required":false,"type":"string","format":"date-time"},{"name":"creators","in":"query","description":"Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"characters","in":"query","description":"Return only comics which feature the specified characters (accepts a comma-separated list of ids).","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"series","in":"query","description":"Return only comics which are part of the specified series (accepts a comma-separated list of ids).","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"events","in":"query","description":"Return only comics which take place in the specified events (accepts a comma-separated list of ids).","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"stories","in":"query","description":"Return only comics which contain the specified stories (accepts a comma-separated list of ids).","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"sharedAppearances","in":"query","description":"Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear). Accepts a comma-separated list of ids.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"collaborators","in":"query","description":"Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work). Accepts a comma-separated list of ids.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"orderBy","in":"query","description":"Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv","enum":["focDate","onsaleDate","title","issueNumber","modified","-focDate","-onsaleDate","-title","-issueNumber","-modified"]},{"name":"limit","in":"query","description":"Limit the result set to the specified number of resources.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Skip the specified number of resources in the result set.","required":false,"type":"integer","format":"int32"}],"responses":{"409":{"description":"Invalid value passed to filter."}}}},"/v1/public/comics/{comicId}":{"get":{"tags":["docspublic"],"summary":"Fetches a single comic by id.","description":"This method fetches a single comic resource.  It is the canonical URI for any comic resource provided by the API.","operationId":"getComicIndividual","parameters":[{"name":"comicId","in":"path","description":"A single comic.","required":true,"type":"integer","format":"int32"}],"responses":{"404":{"description":"Comic not found."}}}},"/v1/public/comics/{comicId}/creators":{"get":{"tags":["docspublic"],"summary":"Fetches lists of creators filtered by a comic id.","description":"Fetches lists of comic creators whose work appears in a specific comic, with optional filters. See notes on individual parameters below.","operationId":"getCreatorCollection","parameters":[{"name":"comicId","in":"path","description":"The comic id.","required":true,"type":"integer","format":"int32"},{"name":"firstName","in":"query","description":"Filter by creator first name (e.g. brian).","required":false,"type":"string"},{"name":"middleName","in":"query","description":"Filter by creator middle name (e.g. Michael).","required":false,"type":"string"},{"name":"lastName","in":"query","description":"Filter by creator last name (e.g. Bendis).","required":false,"type":"string"},{"name":"suffix","in":"query","description":"Filter by suffix or honorific (e.g. Jr., Sr.).","required":false,"type":"string"},{"name":"nameStartsWith","in":"query","description":"Filter by creator names that match critera (e.g. B, St L).","required":false,"type":"string"},{"name":"firstNameStartsWith","in":"query","description":"Filter by creator first names that match critera (e.g. B, St L).","required":false,"type":"string"},{"name":"middleNameStartsWith","in":"query","description":"Filter by creator middle names that match critera (e.g. Mi).","required":false,"type":"string"},{"name":"lastNameStartsWith","in":"query","description":"Filter by creator last names that match critera (e.g. Ben).","required":false,"type":"string"},{"name":"modifiedSince","in":"query","description":"Return only creators which have been modified since the specified date.","required":false,"type":"string","format":"date-time"},{"name":"comics","in":"query","description":"Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"series","in":"query","description":"Return only creators who worked on the specified series (accepts a comma-separated list of ids).","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"stories","in":"query","description":"Return only creators who worked on the specified stories (accepts a comma-separated list of ids).","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"csv"},{"name":"orderBy","in":"query","description":"Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv","enum":["lastName","firstName","middleName","suffix","modified","-lastName","-firstName","-middleName","-suffix","-modified"]},{"name":"limit","in":"query","description":"Limit the result set to the specified number of resources.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Skip the specified number of resources in the result set.","required":false,"type":"integer","format":"int32"}],"responses":{"409":{"description":"Invalid value passed to filter."}}}}},"definitions":{"SeriesList":{"properties":{"available":{"description":"The number of total available series in this list. Will always be greater than or equal to the \"returned\" value.","$ref":"#/definitions/int"},"returned":{"description":"The number of series returned in this collection (up to 20).","$ref":"#/definitions/int"},"collectionURI":{"type":"string","description":"The path to the full list of series in this collection."},"items":{"description":"The list of returned series in this collection.","$ref":"#/definitions/Array"}}},"CreatorList":{"properties":{"available":{"description":"The number of total available creators in this list. Will always be greater than or equal to the \"returned\" value.","$ref":"#/definitions/int"},"returned":{"description":"The number of creators returned in this collection (up to 20).","$ref":"#/definitions/int"},"collectionURI":{"type":"string","description":"The path to the full list of creators in this collection."},"items":{"description":"The list of returned creators in this collection.","$ref":"#/definitions/Array"}}},"ComicDataContainer":{"properties":{"offset":{"description":"The requested offset (number of skipped results) of the call.","$ref":"#/definitions/int"},"limit":{"description":"The requested result limit.","$ref":"#/definitions/int"},"total":{"description":"The total number of resources available given the current filter set.","$ref":"#/definitions/int"},"count":{"description":"The total number of results returned by this call.","$ref":"#/definitions/int"},"results":{"description":"The list of comics returned by the call","$ref":"#/definitions/Array"}}},"Creator":{"properties":{"id":{"description":"The unique ID of the creator resource.","$ref":"#/definitions/int"},"firstName":{"type":"string","description":"The first name of the creator."},"middleName":{"type":"string","description":"The middle name of the creator."},"lastName":{"type":"string","description":"The last name of the creator."},"suffix":{"type":"string","description":"The suffix or honorific for the creator."},"fullName":{"type":"string","description":"The full name of the creator (a space-separated concatenation of the above four fields)."},"modified":{"description":"The date the resource was most recently modified.","$ref":"#/definitions/Date"},"resourceURI":{"type":"string","description":"The canonical URL identifier for this resource."},"urls":{"description":"A set of public web site URLs for the resource.","$ref":"#/definitions/Array"},"thumbnail":{"description":"The representative image for this creator.","$ref":"#/definitions/Image"},"series":{"description":"A resource list containing the series which feature work by this creator.","$ref":"#/definitions/SeriesList"},"stories":{"description":"A resource list containing the stories which feature work by this creator.","$ref":"#/definitions/StoryList"},"comics":{"description":"A resource list containing the comics which feature work by this creator.","$ref":"#/definitions/ComicList"},"events":{"description":"A resource list containing the events which feature work by this creator.","$ref":"#/definitions/EventList"}}},"Image":{"properties":{"path":{"type":"string","description":"The directory path of to the image."},"extension":{"type":"string","description":"The file extension for the image."}}},"Url":{"properties":{"type":{"type":"string","description":"A text identifier for the URL."},"url":{"type":"string","description":"A full URL (including scheme, domain, and path)."}}},"CharacterDataContainer":{"properties":{"offset":{"description":"The requested offset (number of skipped results) of the call.","$ref":"#/definitions/int"},"limit":{"description":"The requested result limit.","$ref":"#/definitions/int"},"total":{"description":"The total number of resources available given the current filter set.","$ref":"#/definitions/int"},"count":{"description":"The total number of results returned by this call.","$ref":"#/definitions/int"},"results":{"description":"The list of characters returned by the call.","$ref":"#/definitions/Array"}}},"ComicDate":{"properties":{"type":{"type":"string","description":"A description of the date (e.g. onsale date, FOC date)."},"date":{"description":"The date.","$ref":"#/definitions/Date"}}},"SeriesDataContainer":{"properties":{"offset":{"description":"The requested offset (number of skipped results) of the call.","$ref":"#/definitions/int"},"limit":{"description":"The requested result limit.","$ref":"#/definitions/int"},"total":{"description":"The total number of resources available given the current filter set.","$ref":"#/definitions/int"},"count":{"description":"The total number of results returned by this call.","$ref":"#/definitions/int"},"results":{"description":"The list of series returned by the call","$ref":"#/definitions/Array"}}},"Story":{"properties":{"id":{"description":"The unique ID of the story resource.","$ref":"#/definitions/int"},"title":{"type":"string","description":"The story title."},"description":{"type":"string","description":"A short description of the story."},"resourceURI":{"type":"string","description":"The canonical URL identifier for this resource. "},"type":{"type":"string","description":"The story type e.g. interior story, cover, text story."},"modified":{"description":"The date the resource was most recently modified.","$ref":"#/definitions/Date"},"thumbnail":{"description":"The representative image for this story.","$ref":"#/definitions/Image"},"comics":{"description":"A resource list containing comics in which this story takes place.","$ref":"#/definitions/ComicList"},"series":{"description":"A resource list containing series in which this story appears.","$ref":"#/definitions/SeriesList"},"events":{"description":"A resource list of the events in which this story appears.","$ref":"#/definitions/EventList"},"characters":{"description":"A resource list of characters which appear in this story.","$ref":"#/definitions/CharacterList"},"creators":{"description":"A resource list of creators who worked on this story.","$ref":"#/definitions/CreatorList"},"originalissue":{"description":"A summary representation of the issue in which this story was originally published.","$ref":"#/definitions/ComicSummary"}}},"StoryDataWrapper":{"properties":{"code":{"description":"The HTTP status code of the returned result.","$ref":"#/definitions/int"},"status":{"type":"string","description":"A string description of the call status."},"copyright":{"type":"string","description":"The copyright notice for the returned result."},"attributionText":{"type":"string","description":"The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."},"attributionHTML":{"type":"string","description":"An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."},"data":{"description":"The results returned by the call.","$ref":"#/definitions/StoryDataContainer"},"etag":{"type":"string","description":"A digest value of the content returned by the call."}}},"Comic":{"properties":{"id":{"description":"The unique ID of the comic resource.","$ref":"#/definitions/int"},"digitalId":{"description":"The ID of the digital comic representation of this comic. Will be 0 if the comic is not available digitally.","$ref":"#/definitions/int"},"title":{"type":"string","description":"The canonical title of the comic."},"issueNumber":{"description":"The number of the issue in the series (will generally be 0 for collection formats).","$ref":"#/definitions/double"},"variantDescription":{"type":"string","description":"If the issue is a variant (e.g. an alternate cover, second printing, or directorâ€™s cut), a text description of the variant."},"description":{"type":"string","description":"The preferred description of the comic."},"modified":{"description":"The date the resource was most recently modified.","$ref":"#/definitions/Date"},"isbn":{"type":"string","description":"The ISBN for the comic (generally only populated for collection formats)."},"upc":{"type":"string","description":"The UPC barcode number for the comic (generally only populated for periodical formats)."},"diamondCode":{"type":"string","description":"The Diamond code for the comic."},"ean":{"type":"string","description":"The EAN barcode for the comic."},"issn":{"type":"string","description":"The ISSN barcode for the comic."},"format":{"type":"string","description":"The publication format of the comic e.g. comic, hardcover, trade paperback."},"pageCount":{"description":"The number of story pages in the comic.","$ref":"#/definitions/int"},"textObjects":{"description":"A set of descriptive text blurbs for the comic.","$ref":"#/definitions/Array"},"resourceURI":{"type":"string","description":"The canonical URL identifier for this resource."},"urls":{"description":"A set of public web site URLs for the resource.","$ref":"#/definitions/Array"},"series":{"description":"A summary representation of the series to which this comic belongs.","$ref":"#/definitions/SeriesSummary"},"variants":{"description":"A list of variant issues for this comic (includes the \"original\" issue if the current issue is a variant).","$ref":"#/definitions/Array"},"collections":{"description":"A list of collections which include this comic (will generally be empty if the comic's format is a collection).","$ref":"#/definitions/Array"},"collectedIssues":{"description":"A list of issues collected in this comic (will generally be empty for periodical formats such as \"comic\" or \"magazine\").","$ref":"#/definitions/Array"},"dates":{"description":"A list of key dates for this comic.","$ref":"#/definitions/Array"},"prices":{"description":"A list of prices for this comic.","$ref":"#/definitions/Array"},"thumbnail":{"description":"The representative image for this comic.","$ref":"#/definitions/Image"},"images":{"description":"A list of promotional images associated with this comic.","$ref":"#/definitions/Array"},"creators":{"description":"A resource list containing the creators associated with this comic.","$ref":"#/definitions/CreatorList"},"characters":{"description":"A resource list containing the characters which appear in this comic.","$ref":"#/definitions/CharacterList"},"stories":{"description":"A resource list containing the stories which appear in this comic.","$ref":"#/definitions/StoryList"},"events":{"description":"A resource list containing the events in which this comic appears.","$ref":"#/definitions/EventList"}}},"CreatorDataContainer":{"properties":{"offset":{"description":"The requested offset (number of skipped results) of the call.","$ref":"#/definitions/int"},"limit":{"description":"The requested result limit.","$ref":"#/definitions/int"},"total":{"description":"The total number of resources available given the current filter set.","$ref":"#/definitions/int"},"count":{"description":"The total number of results returned by this call.","$ref":"#/definitions/int"},"results":{"description":"The list of creators returned by the call.","$ref":"#/definitions/Array"}}},"SeriesSummary":{"properties":{"resourceURI":{"type":"string","description":"The path to the individual series resource."},"name":{"type":"string","description":"The canonical name of the series."}}},"CreatorSummary":{"properties":{"resourceURI":{"type":"string","description":"The path to the individual creator resource."},"name":{"type":"string","description":"The full name of the creator."},"role":{"type":"string","description":"The role of the creator in the parent entity."}}},"CharacterSummary":{"properties":{"resourceURI":{"type":"string","description":"The path to the individual character resource."},"name":{"type":"string","description":"The full name of the character."},"role":{"type":"string","description":"The role of the creator in the parent entity."}}},"CharacterDataWrapper":{"properties":{"code":{"description":"The HTTP status code of the returned result.","$ref":"#/definitions/int"},"status":{"type":"string","description":"A string description of the call status."},"copyright":{"type":"string","description":"The copyright notice for the returned result."},"attributionText":{"type":"string","description":"The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."},"attributionHTML":{"type":"string","description":"An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."},"data":{"description":"The results returned by the call.","$ref":"#/definitions/CharacterDataContainer"},"etag":{"type":"string","description":"A digest value of the content returned by the call."}}},"Character":{"properties":{"id":{"description":"The unique ID of the character resource.","$ref":"#/definitions/int"},"name":{"type":"string","description":"The name of the character."},"description":{"type":"string","description":"A short bio or description of the character."},"modified":{"description":"The date the resource was most recently modified.","$ref":"#/definitions/Date"},"resourceURI":{"type":"string","description":"The canonical URL identifier for this resource."},"urls":{"description":"A set of public web site URLs for the resource.","$ref":"#/definitions/Array"},"thumbnail":{"description":"The representative image for this character.","$ref":"#/definitions/Image"},"comics":{"description":"A resource list containing comics which feature this character.","$ref":"#/definitions/ComicList"},"stories":{"description":"A resource list of stories in which this character appears.","$ref":"#/definitions/StoryList"},"events":{"description":"A resource list of events in which this character appears.","$ref":"#/definitions/EventList"},"series":{"description":"A resource list of series in which this character appears.","$ref":"#/definitions/SeriesList"}}},"ComicDataWrapper":{"properties":{"code":{"description":"The HTTP status code of the returned result.","$ref":"#/definitions/int"},"status":{"type":"string","description":"A string description of the call status."},"copyright":{"type":"string","description":"The copyright notice for the returned result."},"attributionText":{"type":"string","description":"The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."},"attributionHTML":{"type":"string","description":"An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."},"data":{"description":"The results returned by the call.","$ref":"#/definitions/ComicDataContainer"},"etag":{"type":"string","description":"A digest value of the content returned by the call."}}},"StorySummary":{"properties":{"resourceURI":{"type":"string","description":"The path to the individual story resource."},"name":{"type":"string","description":"The canonical name of the story."},"type":{"type":"string","description":"The type of the story (interior or cover)."}}},"EventDataContainer":{"properties":{"offset":{"description":"The requested offset (number of skipped results) of the call.","$ref":"#/definitions/int"},"limit":{"description":"The requested result limit.","$ref":"#/definitions/int"},"total":{"description":"The total number of resources available given the current filter set.","$ref":"#/definitions/int"},"count":{"description":"The total number of results returned by this call.","$ref":"#/definitions/int"},"results":{"description":"The list of events returned by the call","$ref":"#/definitions/Array"}}},"CharacterList":{"properties":{"available":{"description":"The number of total available characters in this list. Will always be greater than or equal to the \"returned\" value.","$ref":"#/definitions/int"},"returned":{"description":"The number of characters returned in this collection (up to 20).","$ref":"#/definitions/int"},"collectionURI":{"type":"string","description":"The path to the full list of characters in this collection."},"items":{"description":"The list of returned characters in this collection.","$ref":"#/definitions/Array"}}},"ComicList":{"properties":{"available":{"description":"The number of total available issues in this list. Will always be greater than or equal to the \"returned\" value.","$ref":"#/definitions/int"},"returned":{"description":"The number of issues returned in this collection (up to 20).","$ref":"#/definitions/int"},"collectionURI":{"type":"string","description":"The path to the full list of issues in this collection."},"items":{"description":"The list of returned issues in this collection.","$ref":"#/definitions/Array"}}},"ComicPrice":{"properties":{"type":{"type":"string","description":"A description of the price (e.g. print price, digital price)."},"price":{"description":"The price (all prices in USD).","$ref":"#/definitions/float"}}},"Series":{"properties":{"id":{"description":"The unique ID of the series resource.","$ref":"#/definitions/int"},"title":{"type":"string","description":"The canonical title of the series."},"description":{"type":"string","description":"A description of the series."},"resourceURI":{"type":"string","description":"The canonical URL identifier for this resource."},"urls":{"description":"A set of public web site URLs for the resource.","$ref":"#/definitions/Array"},"startYear":{"description":"The first year of publication for the series.","$ref":"#/definitions/int"},"endYear":{"description":"The last year of publication for the series (conventionally, 2099 for ongoing series) .","$ref":"#/definitions/int"},"rating":{"type":"string","description":"The age-appropriateness rating for the series."},"modified":{"description":"The date the resource was most recently modified.","$ref":"#/definitions/Date"},"thumbnail":{"description":"The representative image for this series.","$ref":"#/definitions/Image"},"comics":{"description":"A resource list containing comics in this series.","$ref":"#/definitions/ComicList"},"stories":{"description":"A resource list containing stories which occur in comics in this series.","$ref":"#/definitions/StoryList"},"events":{"description":"A resource list containing events which take place in comics in this series.","$ref":"#/definitions/EventList"},"characters":{"description":"A resource list containing characters which appear in comics in this series.","$ref":"#/definitions/CharacterList"},"creators":{"description":"A resource list of creators whose work appears in comics in this series.","$ref":"#/definitions/CreatorList"},"next":{"description":"A summary representation of the series which follows this series.","$ref":"#/definitions/SeriesSummary"},"previous":{"description":"A summary representation of the series which preceded this series.","$ref":"#/definitions/SeriesSummary"}}},"StoryDataContainer":{"properties":{"offset":{"description":"The requested offset (number of skipped results) of the call.","$ref":"#/definitions/int"},"limit":{"description":"The requested result limit.","$ref":"#/definitions/int"},"total":{"description":"The total number of resources available given the current filter set.","$ref":"#/definitions/int"},"count":{"description":"The total number of results returned by this call.","$ref":"#/definitions/int"},"results":{"description":"The list of stories returned by the call","$ref":"#/definitions/Array"}}},"StoryList":{"properties":{"available":{"description":"The number of total available stories in this list. Will always be greater than or equal to the \"returned\" value.","$ref":"#/definitions/int"},"returned":{"description":"The number of stories returned in this collection (up to 20).","$ref":"#/definitions/int"},"collectionURI":{"type":"string","description":"The path to the full list of stories in this collection."},"items":{"description":"The list of returned stories in this collection.","$ref":"#/definitions/Array"}}},"TextObject":{"properties":{"type":{"type":"string","description":"The canonical type of the text object (e.g. solicit text, preview text, etc.)."},"language":{"type":"string","description":"The IETF language tag denoting the language the text object is written in."},"text":{"type":"string","description":"The text."}}},"EventList":{"properties":{"available":{"description":"The number of total available events in this list. Will always be greater than or equal to the \"returned\" value.","$ref":"#/definitions/int"},"returned":{"description":"The number of events returned in this collection (up to 20).","$ref":"#/definitions/int"},"collectionURI":{"type":"string","description":"The path to the full list of events in this collection."},"items":{"description":"The list of returned events in this collection.","$ref":"#/definitions/Array"}}},"SeriesDataWrapper":{"properties":{"code":{"description":"The HTTP status code of the returned result.","$ref":"#/definitions/int"},"status":{"type":"string","description":"A string description of the call status."},"copyright":{"type":"string","description":"The copyright notice for the returned result."},"attributionText":{"type":"string","description":"The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."},"attributionHTML":{"type":"string","description":"An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."},"data":{"description":"The results returned by the call.","$ref":"#/definitions/SeriesDataContainer"},"etag":{"type":"string","description":"A digest value of the content returned by the call."}}},"EventSummary":{"properties":{"resourceURI":{"type":"string","description":"The path to the individual event resource."},"name":{"type":"string","description":"The name of the event."}}},"ComicSummary":{"properties":{"resourceURI":{"type":"string","description":"The path to the individual comic resource."},"name":{"type":"string","description":"The canonical name of the comic."}}},"Event":{"properties":{"id":{"description":"The unique ID of the event resource.","$ref":"#/definitions/int"},"title":{"type":"string","description":"The title of the event."},"description":{"type":"string","description":"A description of the event."},"resourceURI":{"type":"string","description":"The canonical URL identifier for this resource."},"urls":{"description":"A set of public web site URLs for the event.","$ref":"#/definitions/Array"},"modified":{"description":"The date the resource was most recently modified.","$ref":"#/definitions/Date"},"start":{"description":"The date of publication of the first issue in this event.","$ref":"#/definitions/Date"},"end":{"description":"The date of publication of the last issue in this event.","$ref":"#/definitions/Date"},"thumbnail":{"description":"The representative image for this event.","$ref":"#/definitions/Image"},"comics":{"description":"A resource list containing the comics in this event.","$ref":"#/definitions/ComicList"},"stories":{"description":"A resource list containing the stories in this event.","$ref":"#/definitions/StoryList"},"series":{"description":"A resource list containing the series in this event.","$ref":"#/definitions/SeriesList"},"characters":{"description":"A resource list containing the characters which appear in this event.","$ref":"#/definitions/CharacterList"},"creators":{"description":"A resource list containing creators whose work appears in this event.","$ref":"#/definitions/CreatorList"},"next":{"description":"A summary representation of the event which follows this event.","$ref":"#/definitions/EventSummary"},"previous":{"description":"A summary representation of the event which preceded this event.","$ref":"#/definitions/EventSummary"}}},"CreatorDataWrapper":{"properties":{"code":{"description":"The HTTP status code of the returned result.","$ref":"#/definitions/int"},"status":{"type":"string","description":"A string description of the call status."},"copyright":{"type":"string","description":"The copyright notice for the returned result."},"attributionText":{"type":"string","description":"The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."},"attributionHTML":{"type":"string","description":"An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."},"data":{"description":"The results returned by the call.","$ref":"#/definitions/CreatorDataContainer"},"etag":{"type":"string","description":"A digest value of the content returned by the call."}}}}}